# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Data files
data/

# Model files
models/

# Deployment files
*.tar.gz
*.zip

# System-specific files
.DS_Store
Thumbs.db

# IDE configuration files
.vscode/
.idea/
